#footer .footer-top .footer-info h3 {
    border: none;
    padding: 2px 0;
    line-height: 1.2;
}

#footer .footer-top .footer-info {
    text-align: center;
}

#footer .footer-top .social-links a {
    font-size: 32px;
    width: 64px;
    height: 64px;
    padding: 16px 0;
    margin: 5px;
}

#download {
    background-image: url(../img/experience.png);
}

.services {
    background: #000;
    background-size: cover;
    padding: 60px 0 40px 0;
}

.services .box {
    margin-bottom: 30px;
}

.services .icon {
    float: left;
}

.services .icon i {
    color: cyan;
    font-size: 36px;
    line-height: 1;
    transition: 0.5s;
}

.services .title {
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #fff
}

.services .box:hover .title a {
    color: cyan;
}

.services .description {
    font-size: 14px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
}




@media (min-width: 768px) {
    #skills .progress .skill {
        margin: 0 0 0 20px;
    }
    #skills .progress .skill .val {
        margin: 0 20px 0 0;
    }
}

@media (min-height: 621px) {
    .photo,
    #intro h2,
    #intro p {
        margin-bottom: 15px;
    }
    .photo {
        width: 200px;
    }
}

@media (max-height: 620px) {
    .photo,
    #intro h2,
    #intro p {
        margin-bottom: 20px;
    }
    .photo {
        width: 180px;
    }
}

@media (max-height: 580px) {
    .photo,
    #intro h2,
    #intro p {
        margin-bottom: 15px;
    }
    .photo {
        width: 150px;
    }
}