body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}

a {
    color: cyan;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: cyan;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: cyan;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: black;
}

/* Prelaoder */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid cyan;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: black;
}

#header.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 15px 0;
    height: 62px;
    transition: all 0.5s;
}

#header #logo {
    float: left;
}

#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid cyan;
}

#header #logo img {
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

.dropdown {
    cursor: pointer;
}

.dropdown a span{
    color: cyan;
}

.dropdown:hover .dropdown-menu {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=1);
}
.dropdown .dropdown-menu {
    background-color: #111;
    transform: translate3d(0px, -20px, 0px);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    display: block;
    transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.2s;
}

.dropdown .dropdown-menu .dropdown-item {
    display: block;
    color: white;
    transition: all 500ms ease;

}

.dropdown .dropdown-menu .dropdown-item:hover {
    color: cyan;
    background-color: rgb(49, 48, 48);
}
/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
    float: right;
    margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a,
.nav-menu .dropdown .dropdown-menu .menu-active, .menu-active{
    color: cyan;
}

.nav-menu>li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
}

.nav-menu ul li:hover>a {
    color: cyan;
}

.nav-menu ul ul {
    margin: 0;
}

/* mobile Nav Toggle */

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #fff;
}

/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
    color: cyan;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul li.menu-active a {
    color: cyan;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: cyan;
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none;
}

#mobile-nav ul .menu-item-active {
    color: cyan;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}

/* Sections Header
--------------------------------*/

.section-header{
    margin-top: 56px;
}

.section-header h3 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: cyan;
    bottom: 0;
    left: calc(50% - 20px);
}


/* download Section
--------------------------------*/

#requirements {
    margin: 30px 0 0 0;
}

#instructions .section {
    padding-top: 0;
}

#requirements .row, #instructions .row {
    border: 5px solid;
    border-image: linear-gradient(0deg, black, cyan) 1;
    border-radius: 6px 6px 6px 6px;
}

#requirements .section {
    padding: 72px 50px 0px 50px;
}

.row {
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section{
    padding: 0 50px 10px 50px;
}

#sec-1 {
    margin-top: 100px;
}

.content p{
    text-align: justify;
}

.content h2{
    color: #000;
    text-align: center;
}


.frame {
    border: 8px solid black;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    height: 300px;
    background-color: #000;
}

.frame-div {
    padding-right: 18px;
    padding-left: 18px;
}

.download-col .img .buttons .btn:hover {
    background: black;
    color: cyan;
}

.download-col .img .buttons .btn {
    margin: 10px 0 5px 0;
    color: black;
    border: 1px solid black;
    width: 200px;
    height: auto;
}

.download-col .img .buttons .btn-secondary {
    background: cyan;
}

.download-col .img .frame-div img {
    background-color: black;
}

.checksum {
    padding: 60px 50px 0 50px;
}

.modal-dialog .modal-content button {
    background-color: cyan;
    color: black;
    position: absolute;
    top: -22px;
    left: 96%;
    opacity: 1.0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: #111;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
    text-align: center;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    border-left: 4px solid cyan;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #eee;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: cyan;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}

#footer .footer-top h4::before {
    right: 0;
    background: #555;
}

#footer .footer-top h4::after {
    background: cyan;
    width: 60px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ddd;
}

#footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
    color: cyan;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}

#footer .footer-top .footer-info h3 {
    border: none;
    padding: 2px 0;
    line-height: 1.2;
}

#footer .footer-top .footer-info {
    text-align: center;
}

#footer .footer-top .social-links a {
    font-size: 32px;
    width: 64px;
    height: 64px;
    padding: 16px 0;
    margin: 5px;
}

/*--------------------------------------------------------------
# Tutorials
--------------------------------------------------------------*/

.tutorials-section {
    padding-top: 60px;
}



/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 768px) {
    #contact .contact-address,
    #contact .contact-phone,
    #contact .contact-email {
        padding: 20px 0;
    }
    #contact .contact-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }


    .tutorials-section .tutorials-col .img {
        padding: 0 50px 0 50px;
    }

    .download-col .img {
        padding: 0 70px 0 70px;
    }

}

@media (min-width: 992px) {
    #testimonials .testimonial-item p {
        width: 80%;
    }

    .tutorials-section .tutorials-col .img {
        padding: 0 50px 0 50px;
    }
}

@media (min-width: 1377px) {
    #intro p {
        width: 60%;
    }
    #intro .carousel-control-prev,
    #intro .carousel-control-next {
        width: 5%;
    }

    .tutorials-section .tutorials-col .img {
        padding: 0 150px 0 150px;
    }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
    #header #logo h1 {
        font-size: 28px;
    }
    #header #logo img {
        max-height: 40px;
    }
    #intro h2 {
        font-size: 28px;
    }
    #nav-menu-container {
        display: none;
    }
    #mobile-nav-toggle {
        display: inline;
    }
    /* .download-col .img img {
        margin-top: -24px;
    } */
    .frame {
        height: 190px;
        border: 5px solid black;
        border-radius: 8px 8px 8px 8px;
        width: 100%;
    }

    .frame-div {
        padding-right: 12px;
        padding-left: 12px;
    }    
}