@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-wrapper {
  width: 250px;
  height: 300px;
}

.modal {
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.no-scroll {
  overflow: hidden;
}

.rotate-180 {
  transform: scaleX(-1);
  transition: transform 0.3s ease;
}

.rotate-0 {
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.splide__pagination__page {
  background-color: #d09031 !important;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 5px solid #6a45d1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
